@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Saira;
  src: url(../fonts/Saira.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  --heading_font: rubik;
  --font_1: BebasNeue;
  --font_2: Saira;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_2);
  font-weight: 500;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main{
  max-width: 100vw;
  overflow-x: hidden;
}

#page1 {
  max-width: 100%;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(../images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  top: 0; */
  overflow-y: hidden;
}
.logo {
  position: fixed;
  top: 35px;
  left: 40px;
  background-color: white;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2vw 0.5vw;
  border-radius: 20px;
  opacity: 0;
  z-index: 10;
  /* height:he; */
}
.logo img {
  width: 100%;
}
#page1 nav {
  width: 70%;
  /* background-color: #fff; */
  /* border: 2px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7vw 3vw;
  padding-right: 1vw;
  border-radius: 40px;
  margin-top: 20px;
}
#page1 nav .left {
  display: flex;
  align-items: center;
  gap: 5vw;
}
#page1 nav .left h4 {
  font-size: 1.3vw;
  cursor: pointer;
  color: #ffffff;
  text-transform: capitalize;
}
#page1 nav .left h4 a {
  font-size: 1.3vw;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: capitalize;
}
#page1 nav .right {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#page1 nav .right h3 {
  width: 100px;
  position: relative;
  text-align: center;
  /* background-color: blue; */
  font-weight: 700;
  font-size: 1.5vw;
  text-transform: uppercase;
  cursor: pointer;
}
#page1 nav .right h3:nth-child(1) {
  border-radius: 40px;
  border: solid #ffffff 2px;
  color: #ffffff;
  padding: 0.8vh 2vw;
  padding-top: 0vh;
  box-sizing: content-box;
}
#page1 nav .right h3:nth-child(2) {
  border-radius: 40px;
  padding: 0.8vh 2vw;
  background-color: #ffffff;
  padding-top: 0vh;
  box-sizing: content-box;
  color: #111;
}
#page1 nav .right h3 span {
  display: inline-block;
  font-size: 0.8vw;
  position: absolute;
  top: 60%;
  left: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  /* background-color: beige; */
}

#page1 .heading h1 {
  font-size: 17vw;
  padding: 0;
  font-family: var(--heading_font);
  color: rgb(245, 245, 245);
  text-shadow: 1px 1px 50px #000000;
  letter-spacing: 10px;
  font-weight: 700 ;
}
/* page2 */

#page2 {
  /* margin-top: 100vh; */
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  /* min-height: 100vh; */
  background-color: #010000;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 0vh 5vw; */
  background-size: cover;
}
#page2 .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 30px;
  color: white;
  font-size: 8vw;
  text-transform: uppercase;
  position: relative;
  /* background-color: aquamarine; */
  white-space: nowrap;
}

#page2 .second_page2 {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
#page2 .second_page2 .box {
  background-image: url(../images/download.jpeg);
  background-position: center;
  background-size: cover;
  width: 28vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #aaaaaa;
  margin-bottom: 2vw;
  /* margin: 20px; */
}
#page2 .second_page2 .box:nth-child(1) {
  background-image: url(../images/placeholder_image_games.jpg.jpeg);;
}
#page2 .second_page2 .box:nth-child(2) {
  background-image: url(../images/placeholder_image_games.jpg.jpeg);;
}
#page2 .second_page2 .box:nth-child(3) {
  background-image: url(../images/game3.jpg);;
}
 a {
  text-decoration: none;  
  color: inherit;
}
#page2 .second_page2 .box a h2 {
  font-size: 2vw;
  text-transform: uppercase;
  background-color: rgb(32, 32, 32);
  border-radius: 40px;
  color: white;
  padding: 0vw 5vw;
}

/* page3 */
#page3 {
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(1, 0, 0, 1) 0%,
    rgba(37, 51, 49, 1) 47%,
    rgba(147, 209, 204, 1) 100%
  );
}
#page3 .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 30px;
  color: white;
  font-size: 8vw;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}
#page3 .second_page3 {
  display: flex;
  justify-content: space-around;
  gap: 4vw;
}
#page3 .second_page3 .box {
  width: 27vw;
  height: 33vw;
  background-color: #fff;
  color: #111;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#page3 .second_page3 .box:nth-child(1) {
  background-color: #f0f4f8;
}
#page3 .second_page3 .box:nth-child(2) {
  background-color: #fff5e1;
}
#page3 .second_page3 .box:nth-child(3) {
  background-color: #e8f8f5;
}

.sliding_head_div {
  position: absolute;
  top: 12%;
  border-radius: 50%;
  left: 4vw;
  width: 7vw;
  height: 7vw;
  background-color: rgba(87, 176, 254, 0.164);
  backdrop-filter: blur(5px);
  display: none;
  /* animation: sliding_div 1s ease-in-out  infinite alternate; */
}
@keyframes sliding_div {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(85vw);
  }
}
#page3 .second_page3 .box h2 {
  position: absolute;
  top: -20px;
  font-size: 1.9vw;
  width: 100%;
  text-align: center;
  /* left: -20px; */
  color: white;
  text-shadow: 3px 3px 20px #000000;
  -webkit-text-stroke: 1px black;
  font-family: var(--heading_font);
  white-space: nowrap;
  letter-spacing: 0.4vw;
  font-weight:500;
}
#page3 .second_page3 .box:nth-child(1) .mouse_div{
    width: 3vw;
    height: 3vw;
    background-color: #52beaf91;
    box-shadow: 2px 2px 20px #45bcacbc;
    position:absolute;
    top: 0;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
#page3 .second_page3 .box:nth-child(2) .mouse_div{
    width: 3vw;
    height: 3vw;
    box-shadow: 2px 2px 20px #58a4f1cb;
    background-color: #499bedcc;
    position:absolute;
    top: 0;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
#page3 .second_page3 .box:nth-child(3) .mouse_div{
    width: 3vw;
    box-shadow: 2px 2px 20px #ac5c44d6;
    height: 3vw;
    background-color: #ff8965ab;
    position:absolute;
    top: 0;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}
#page3 .second_page3 .box h4 {
  font-size: 1vw;
  text-align: center;
  padding: 1vw 3vw;
  border-radius: 10px;
  text-transform: capitalize;
  color: white;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
}
#page3 .second_page3 .box:nth-child(1) h4 {
  background-color: #00bfa6;
}
#page3 .second_page3 .box:nth-child(2) h4 {
  background-color: #61a6eb;
}
#page3 .second_page3 .box:nth-child(3) h4 {
  background-color: #ff8a65;
}
#page3 .second_page3 .box p {
  font-size: 1.4vw;
  font-weight: 400;
  text-align: center;
  /* letter-spacing: 0.4vw;
  line-height:1.5vw;
  font-family: "Nunito Sans", sans-serif; */
}

/* page4 */
#page4 {
  width: 100%;
  background-color: #93d1cc;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#page4 img {
  position: absolute;
  height: 110vh;
}

#page4 img.right {
  right: -40px;
  bottom: -80px;
}

#page4 img.left {
  left: -0%;
  height: 90vh;
  bottom: 0;
}

#page4 img.center {
  left: 40%;
  bottom: 0;
}

#page4 .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 10px;
  color: white;
  font-size: 8vw;
  font-weight: 200;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 1px 1px 10px #31313174;
  position: relative;
}
#page4 .discription {
  width: 40vw;
  font-size: 2.5vw;
  z-index: 3;
  font-weight: 300;
  margin-top: 2vw;
  text-shadow: 1px 1px 10px #000000af;
  text-align: center;
  backdrop-filter: blur(3px);
  color: white;
}
/* page5 */

#page5 {
  width: 100%;
  background-color: #afa7d6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
  height: 100vh;
  position: relative;
}

#page5 .right .heading {
  width: 100%;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 10px;
  color: white;
  font-size: 8vw;
  font-weight: 200;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 1px 1px 10px #31313174;
  position: relative;
}

#page5 .right .discription {
  width: 40vw;
  font-size: 2.5vw;
  z-index: 3;
  font-weight: 300;
  margin-top: 2vw;
  text-shadow: 1px 1px 10px #000000af;
  text-align: center;
  backdrop-filter: blur(3px);
  color: white;
}
/* page6 */

#page6{
  width: 100%;
  background-color: #5DBECE;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}
#page6 .top_heading{
  width: 100vw;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 10px;
  color: white;
  font-size: 8vw;
  font-weight: 200;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 1px 1px 10px #31313174;
  position: relative;
  margin-top:4vw;
}
#page6 .left_image{
  width: 40vw;
}
#page6 .left_image img{
  width: 100%;
}
#page6 .right_discription{
  width: 40vw;
  font-size: 2.5vw;
  z-index: 3;
  font-weight: 300;
  /* margin-top: 2vw; */
  text-shadow: 2px 2px 20px #000000af;
  text-align: center;
  color: white;
}

#page7{
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}
#page7 .top_heading{
  width: 100vw;
  text-align: center;
  font-family: var(--font_1);
  letter-spacing: 10px;
  color: #223A7A;
  font-size: 8vw;
  font-weight: 200;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 1px 1px 10px #31313174;
  position: relative;
  /* margin-top:4vw; */
}
#page7 .left_image{
  margin-top: -3vw;
  width: 40vw;
}
#page7 .left_image img{
  width: 100%;
}
#page7 .right_discription{
  width: 40vw;
  font-size: 2.5vw;
  z-index: 3;
  font-weight: 300;
  background-color: #223A7A;
  padding: 3vw 2vw ;
  margin-top: 2vw; 
  box-shadow: 2px 2px 20px #5364ffaf;
  border-radius: 20px;
  text-align: center;
  margin-top: -3vw;
  color: white;
}
footer{
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4vw;
}
footer h2{
  position: absolute;
  bottom: 2vw;
  color: white;
  width: 100%;
  font-size: 2.5vw;
  z-index: 3;
  font-weight: 300;
  text-align: center;
}


/* ============================================
   RESPONSIVE MEDIA QUERIES
   ============================================ */

/* Tablets and smaller desktops (max-width: 1024px) */
@media (max-width: 1024px) {
    .logo {
        width: 10vw;
        top: 25px;
        left: 25px;
    }

    #page1 nav {
        width: 85%;
        padding: 1vw 2vw;
    }

    #page1 nav .left h4,
    #page1 nav .left h4 a {
        font-size: 1.8vw;
    }

    #page1 nav .right h3 {
        font-size: 2vw;
    }

    #page1 .heading h1 {
        font-size: 15vw;
        letter-spacing: 5px;
    }

    #page2 .second_page2 {
        flex-wrap: wrap;
        padding: 0 2vw;
    }

    #page2 .second_page2 .box {
        width: 45vw;
        height: 60vh;
    }

    #page3 .second_page3 {
        gap: 2vw;
        padding: 0 2vw;
    }

    #page3 .second_page3 .box {
        width: 30vw;
        height: 40vw;
    }

    #page4 .discription,
    #page5 .right .discription,
    #page6 .right_discription {
        width: 50vw;
        font-size: 3vw;
    }
}

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
    .logo {
        width: 15vw;
        top: 20px;
        left: 20px;
        padding: 1vw 1.5vw;
    }

    #page1 nav {
        width: 90%;
        flex-direction: column;
        gap: 2vh;
        padding: 2vw;
    }

    #page1 nav .left {
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    #page1 nav .left h4,
    #page1 nav .left h4 a {
        font-size: 3vw;
    }

    #page1 nav .right {
        flex-direction: column;
        gap: 2vh;
    }

    #page1 nav .right h3 {
        font-size: 3.5vw;
        width: auto;
        padding: 1.5vh 4vw !important;
    }

    #page1 nav .right h3 span {
        font-size: 2vw;
    }

    #page1 .heading h1 {
        font-size: 18vw;
        letter-spacing: 3px;
    }

    #page2 .heading,
    #page3 .heading {
        font-size: 10vw;
        letter-spacing: 10px;
    }

    #page2 .second_page2 {
        flex-direction: column;
        align-items: center;
    }

    #page2 .second_page2 .box {
        width: 80vw;
        height: 100vh;
        margin-bottom: 4vw;
    }

    #page2 .second_page2 .box h2 {
        font-size: 4vw;
        padding: 2vw 8vw;
    }

    #page3 {
        height: auto;
        padding-bottom: 5vw;
    }

    #page3 .second_page3 {
        flex-direction: column;
        align-items: center;
        gap: 8vw;
        padding: 4vw 2vw;
    }

    #page3 .second_page3 .box {
        width: 80vw;
        height: auto;
        min-height: 400px;
        padding: 3vw;
    }

    #page3 .second_page3 .box h2 {
        font-size: 4.5vw;
        letter-spacing: 1vw;
    }

    #page3 .second_page3 .box p {
        font-size: 3vw;
        padding: 2vw;
    }

    #page3 .second_page3 .box h4 {
        font-size: 2.5vw;
        padding: 2vw 5vw;
    }

    #page4,
    #page5 {
        flex-direction: column;
        height: auto;
        padding: 5vw 0;
    }

    #page4 img,
    #page5 img {
        display: none;
    }

    #page4 .heading,
    #page5 .right .heading,
    #page6 .top_heading,
    #page7 .top_heading {
        font-size: 10vw;
        letter-spacing: 5px;
    }

    #page4 .discription,
    #page5 .right .discription,
    #page6 .right_discription {
        width: 80vw;
        font-size: 4vw;
    }

    #page6,
    #page7 {
        height: auto;
        padding: 5vw 0;
    }

    #page6 .left_image,
    #page7 .left_image {
        width: 80vw;
        margin-top: 4vw;
    }

    #page7 .right_discription {
        width: 80vw;
        font-size: 4vw;
        padding: 5vw 3vw;
        margin-top: 4vw;
    }

    footer {
        font-size: 6vw;
        min-height: 50vh;
    }

    footer h2 {
        font-size: 4vw;
        bottom: 4vw;
    }
}

/* Mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    .logo {
        width: 20vw;
        top: 15px;
        left: 15px;
        padding: 2vw 2.5vw;
    }

    #page1 nav {
        width: 95%;
        padding: 3vw;
    }

    #page1 nav .left h4,
    #page1 nav .left h4 a {
        font-size: 4vw;
    }

    #page1 nav .right h3 {
        font-size: 4.5vw;
        padding: 2vh 6vw !important;
    }

    #page1 nav .right h3 span {
        font-size: 3vw;
    }

    #page1 .heading h1 {
        font-size: 20vw;
        letter-spacing: 2px;
    }

    #page2 .heading,
    #page3 .heading {
        font-size: 10vw;
        letter-spacing: 1px;
        white-space: wrap;
    }

    #page2 .second_page2 .box {
        width: 90vw;
        height: 45vh;
    }

    #page2 .second_page2 .box h2 {
        font-size: 5vw;
        padding: 3vw 10vw;
    }

    #page3 .second_page3 .box {
        width: 90vw;
        min-height: 100vh;
    }

    #page3 .second_page3 .box h2 {
        font-size: 5.5vw;
        top: -15px;
    }

    #page3 .second_page3 .box p {
        font-size: 4vw;
        padding: 3vw;
    }

    #page3 .second_page3 .box h4 {
        font-size: 3.5vw;
        padding: 3vw 6vw;
    }

    #page4 .heading,
    #page5 .right .heading,
    #page6 .top_heading,
    #page7 .top_heading {
        font-size: 12vw;
        letter-spacing: 1px;
    }

    #page4 .discription,
    #page5 .right .discription,
    #page6 .right_discription {
        width: 90vw;
        font-size: 5vw;
    }

    #page6 .left_image,
    #page7 .left_image {
        width: 90vw;
    }

    #page7 .right_discription {
        width: 90vw;
        font-size: 5vw;
        padding: 6vw 4vw;
    }

    footer {
        font-size: 7vw;
    }

    footer h2 {
        font-size: 5vw;
    }

    .sliding_head_div,
    .mouse_div {
        display: none !important;
    }
}
